{% extends 'main/base.html' %}
{% block content %}
{% include 'main/includes/navbar.html' %}

<div class="row">
    {% for mod in Modules %}
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">{{mod.Module_name|safe}}</span>
              <p>{{mod.Module_message|safe}}</p>
            </div>
            <div class="card-action">
              <form action="/home/template">
              <input type="hidden" value="{{mod.Module_name}}" name="mod_name">
              <input type="submit" value="Start">
                </form>
            </div>
          </div>
        </div>
    {% endfor %}
  </div>
{% endblock %}
    
