{% extends 'navigationbar.html' %}

{% load static %}

{% block title %}
	<title>TBD-AppName</title>
{% endblock %}

{% block customcss %}
	<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
{% endblock %}

{% block custombody %}
	<div class="container">
		<div id="details">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<p>WELCOME TO TBD-AppName</p>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<p>Have doubt. Visit our forum section <a href="/forums/" target="_blank"><b>here.</b></a></p>
					<p>To add challenges admins/superusers will visit <b><a href="/challenges/admin/add" target="_blank">here</a></b></p>
					<p>You can also use django admin panel to edit/add challenges</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}